# Public defaults for the ACK BYOCNI demo.
# Copy this file to kup.conf and replace exactly the three placeholders below.

KUP_WORKDIR="${SCRIPT_DIR}"
KUBECONFIG_FILE="${KUP_WORKDIR}/kubeconfig"
ACK_CONTEXT="ack-byocni-demo"

ALICLOUD_ACCESS_KEY="ReplaceMe"
ALICLOUD_SECRET_KEY="ReplaceMe"
ACK_NODE_PASSWORD="ReplaceMe"

ALIBABA_CLOUD_REGION="cn-wulanchabu"
ACK_NAME_PREFIX="ack-byocni-wlcb"
ACK_CLUSTER_SPEC="ack.pro.small"

ACK_VPC_CIDR="10.10.0.0/16"
ACK_VSW_CIDR="10.10.1.0/24"
ACK_POD_CIDR="172.20.0.0/16"
ACK_SERVICE_CIDR="172.21.0.0/20"
ACK_NODE_CIDR_MASK="24"
ACK_ZONE_ID=""

ACK_INSTANCE_TYPE="ecs.e-c1m2.xlarge"
ACK_NODE_COUNT="3"
ACK_SYSTEM_DISK_CATEGORY="cloud_essd_entry"
ACK_SYSTEM_DISK_SIZE="40"
ACK_ENABLE_NAT_GATEWAY="true"
ACK_ENABLE_PUBLIC_APISERVER="true"

CILIUM_CLUSTER_NAME="ack-byocni-demo"
CILIUM_CLUSTER_ID="0"

CILIUM_CHART_VER="1.18.11"
TETRAGON_CHART_VER="1.18.5"
TPR_CHART_VER="1.18.2"
HUBBLE_UI_CHART_VER="1.3.12"
HUBBLE_TIMESCAPE_CHART_VER="1.8.4"
HUBBLE_ENTERPRISE_CHART_VER="1.13.4"

DEMO_NAMESPACE="demo"
TEST_NAMESPACE="test"
HUBBLE_UI_LOCAL_PORT="18080"

TETRAGON_EXPORT_DIRECTORY="/var/run/cilium/hubble"
TETRAGON_EXPORT_FILENAME="tetragon.log"
TETRAGON_ALERT_EXPORT_DIRECTORY="/var/run/cilium/hubble/alert"
TETRAGON_EXPORT_ALLOWLIST='{"event_set":["PROCESS_CONNECT","PROCESS_ACCEPT"]}'
TETRAGON_EXPORT_DENYLIST='{"namespace":["kube-system"]}'
TETRAGON_CGROUP_RATE="100,1s"

RUNTIME_DIR="${KUP_WORKDIR}/runtime"
ACK_API_TIMEOUT="10s"
CILIUM_ROLLOUT_TIMEOUT="20m"
TETRAGON_ROLLOUT_TIMEOUT="15m"
HELM_ROLLOUT_TIMEOUT="20m"
NODE_DISCOVERY_TIMEOUT_SEC="2400"
